header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000008f;
    color: #ffff;
    img {
        width: 50px;
    }
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    margin: 20px;
    div {
        height: 260px;
        width: 250px;
        text-align: center;
        background: #707070;
        color: #ffff;

        b {
            line-height: 49px;
            color: #ff4d00;
            font-size: 20px;
        }
        p {
            padding: 0px 10px;
            font-size: 18px;
        }
    }
}
